@model IEnumerable<Hr.Models.ACourcesCertImage>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>اضافة </title>
</head>
<body>
<p>
    
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CourcesIdmaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Create">اضافة </a>|
                <a asp-action="Edit" asp-route-id="@item.CourcesIdImagecert">تعديل </a> |
                <a asp-action="Details" asp-route-id="@item.CourcesIdImagecert">تفاصيل </a> |
                @*<a asp-action="Delete" asp-route-id="@item.CourcesIdImagecert">Delete</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourcesIdmaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

        </tr>
}
    </tbody>
</table>
</body>
</html>
