@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*<ul id="menu" class="menu accordion-menu">
    <li class="droplink">

        <a href="Default.aspx" class="waves-effect waves-button">
            <span class="  menu-icon   menu-icon glyphicon glyphicon-user"></span>
            <p><asp:Label ID="LoginLink" runat="server" CssClass="LoginLink" Height="30px"></asp:Label></p>
            <span class="arrow"></span><p style="font:status-bar; font-family:'Times New Roman', Times, serif; font-size:larger; color:white;" class="waves-effect waves-button">تسجيل الدورات</p>
        </a>*@
@if (TempData["Cemps"] != null)
{

    var MenuMaster2 = JsonConvert.DeserializeObject<List<Hr.Models.Cemp>>(TempData["Cemps"].ToString());
    //var groupByMenu = MenuMaster.GroupBy(x => x.SubMenuNamear).ToList();
    var groupByMenu02 = MenuMaster2.Where(y => y.Cempid != null && y.CEMPNAME !=null).OrderBy(y=>y.Cempid).FirstOrDefault();
    @if (groupByMenu02!=null)
    {
        @*<ul id="menu" class="menu accordion-menu">
            <li class="droplink">
                
                <a href="Default.aspx" class="waves-effect waves-button">
                    <span class="  menu-icon   menu-icon glyphicon glyphicon-user"></span>
                    <p><asp:Label ID="LoginLink" runat="server" CssClass="LoginLink" Height="30px">ادارة النظام</asp:Label></p>
                    <span class="arrow"></span><p style="font:status-bar; font-family:'Times New Roman', Times, serif; font-size:larger; color:white;" class="waves-effect waves-button"></p>
                </a>*@
<ul class="sub-menu" @*style="display: none;"*@>
    @if (TempData["Cemps"] != null)
    {

        var MenuMaster = JsonConvert.DeserializeObject<List<Hr.Models.Cemp>>(TempData["Cemps"].ToString());
        //var groupByMenu = MenuMaster.GroupBy(x => x.SubMenuNamear).ToList();
        var groupByMenu0 = MenuMaster.First().Cempid.Contains("1");
        @if (groupByMenu0 == true)
        {

        }

        var groupByMenu1 = MenuMaster
        .Where(y => y.Cempid != null && y.CEMPNAME != null)
        .OrderBy(y => y.Cempid)
        .ToList();
        <table>
            <thead>
                <tr>
                    <th>@*الرقم الوظيفي*@ </th>
<<<<<<< Updated upstream
<<<<<<< HEAD
                    <th> <a asp-action="Print" class="btn btn-success" target="_blank">طباعة  </a></th>
=======
<<<<<<< HEAD
                    <th> <a asp-action="Print" class="btn btn-success" target="_blank">طباعة  </a></th>
=======
                    <th>الموظف </th>
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
=======
                    <th> <a asp-action="Print" class="btn btn-success" target="_blank">طباعة  </a></th>
>>>>>>> Stashed changes
                    <th>@*حاضر*@ </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var SubMenuList in groupByMenu1)
                {
                    <tr>
                        <td>
                            @*<p> @SubMenuList.Cempid </p>*@
                        </td>
                        <td>
                            @*<li class="">*@
                            <!--<a href="~/@SubMenuList.CEMPNAME/@SubMenuList.Cempid" class="waves-effect waves-button">-->
                            @*<p> @SubMenuList.CEMPNAME </p> <span class=""></span>*@
                            <!--</a>-->


                            <p> @SubMenuList.CEMPNAME </p>
                            @*<span class="">حاضر</span>*@
                            @*</li>*@
                            @*<li><a href="#">@SubMenuList.SubMenuNamear</a></li>*@
                        </td>
                        <td>
                            @*@if (SubMenuList.Cemphiringdate >= DateTime.Now.Date)
                            {
                                <p>نعم</p>
                            }
                            else
                            {
                                <p>لا</p>
                            }*@
                        </td>
                </tr>
                }
                
                </tbody>
                    </table>
                    @*foreach (var MenuList in groupByMenu)
                        {


                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@MenuList.Key<span class="caret"></span>hello</a>

                            @foreach (var SubMenuList in MenuList)
                            {

                                <li class="">
                                    <a href="~/@SubMenuList.ControllerName/@SubMenuList.ActionName" class="waves-effect waves-button">
                                        <p> @SubMenuList.SubMenuNamear </p> <span class=""></span>
                                    </a>
                                </li>
                                <li><a href="#">@SubMenuList.SubMenuNamear</a></li>
                            }



                        }*@
                }
                else
                {
                <li class="">
                    <a href="/Home/error" class="waves-effect waves-button">
                        <p>لايوجد موظفين بالقسم   </p><span class=""></span>
                    </a>
                </li>
            }

</ul>

            @*</li>
        </ul>*@
    }





  

}


@*</li></ul>*@

@*<ul class="nav navbar-nav navbar-right">
        @if (Session["LoginCredentials"] != null)
        {
            <li>@Html.ActionLink("Logout", "LogOff", "Login")</li>
        }
        else
        {
            <li>@Html.ActionLink("Login", "Login", "Login")</li>
        }

    </ul>*@
