@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*<ul id="menu" class="menu accordion-menu">
    <li class="droplink">

        <a href="Default.aspx" class="waves-effect waves-button">
            <span class="  menu-icon   menu-icon glyphicon glyphicon-user"></span>
            <p><asp:Label ID="LoginLink" runat="server" CssClass="LoginLink" Height="30px"></asp:Label></p>
            <span class="arrow"></span><p style="font:status-bar; font-family:'Times New Roman', Times, serif; font-size:larger; color:white;" class="waves-effect waves-button">تسجيل الدورات</p>
        </a>*@
@if (TempData["MenuMaster"] != null)
{

    var MenuMaster2 = JsonConvert.DeserializeObject<List<Hr.Models.MenuModels>>(TempData["MenuMaster"].ToString());
    //var groupByMenu = MenuMaster.GroupBy(x => x.SubMenuNamear).ToList();
    var groupByMenu02 = MenuMaster2.Where(y => y.mmodule == "Administraton" && y.treeroot == 1).OrderBy(y=>y.id).FirstOrDefault();
    @if (groupByMenu02!=null)
    {
        <ul id="menu" class="menu accordion-menu">
            <li class="droplink">
                
                <a href="Default.aspx" class="waves-effect waves-button">
                    <span class="  menu-icon   menu-icon glyphicon glyphicon-user"></span>
                    <p><asp:Label ID="LoginLink" runat="server" CssClass="LoginLink" Height="30px">ادارة النظام</asp:Label></p>
                    <span class="arrow"></span><p style="font:status-bar; font-family:'Times New Roman', Times, serif; font-size:larger; color:white;" class="waves-effect waves-button"></p>
                </a>
                <ul class="sub-menu" style="display: none;">
                    @if (TempData["MenuMaster"] != null)
                    {

                        var MenuMaster = JsonConvert.DeserializeObject<List<Hr.Models.MenuModels>>(TempData["MenuMaster"].ToString());
                        //var groupByMenu = MenuMaster.GroupBy(x => x.SubMenuNamear).ToList();
                        var groupByMenu0 = MenuMaster.First().mmodule.Contains("Administraton");
                        @if (groupByMenu0 == true)
                        {

                        }

                        var groupByMenu1 = MenuMaster
                        .Where(y => y.mmodule == "Administraton" && y.treeroot == 1)
                        .OrderBy(y => y.id)
                        .ToList();

                        @foreach (var SubMenuList in groupByMenu1)
                        {

                            <li class="">
                                <a href="~/@SubMenuList.ControllerName/@SubMenuList.ActionName" class="waves-effect waves-button">
                                    <p> @SubMenuList.SubMenuNamear </p> <span class=""></span>
                                </a>
                            </li>
                            @*<li><a href="#">@SubMenuList.SubMenuNamear</a></li>*@
                        }
                        @*foreach (var MenuList in groupByMenu)
                            {


                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@MenuList.Key<span class="caret"></span>hello</a>

                                @foreach (var SubMenuList in MenuList)
                                {

                                    <li class="">
                                        <a href="~/@SubMenuList.ControllerName/@SubMenuList.ActionName" class="waves-effect waves-button">
                                            <p> @SubMenuList.SubMenuNamear </p> <span class=""></span>
                                        </a>
                                    </li>
                                    <li><a href="#">@SubMenuList.SubMenuNamear</a></li>
                                }



                            }*@
                    }
                    else
                    {
                        <li class="">
                            <a href="/Home/error" class="waves-effect waves-button">
                                <p>سجل دخول حتي تظهر القائمة  </p><span class=""></span>
                            </a>
                        </li>
                    }

                </ul>

            </li>
        </ul>
    }





  

}


@*</li></ul>*@

@*<ul class="nav navbar-nav navbar-right">
        @if (Session["LoginCredentials"] != null)
        {
            <li>@Html.ActionLink("Logout", "LogOff", "Login")</li>
        }
        else
        {
            <li>@Html.ActionLink("Login", "Login", "Login")</li>
        }

    </ul>*@
