@model Hr.Models.MasterDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MasterDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COURCES_IDMASTER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COURCES_IDMASTER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterRequestFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterRequestFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterRequestTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterRequestTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterRequestTypeSatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterRequestTypeSatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterRequestNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterRequestNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MasterDetailsSerial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
