@model Hr.Models.ACourcesOffered

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ACourcesOffered</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdDeptout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdDeptout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdperiodbydays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdperiodbydays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesStartDateh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesStartDateh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cempid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cempid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourcesOfferedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
