@model IEnumerable<Hr.Models.ACourcesType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourcesTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourcesTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourcesIdType">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourcesIdType">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.CourcesIdType">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
