@model IEnumerable<Hr.Models.ACourcesType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>عرض</h1>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CourcesTypeName)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                <a asp-action="Create">اضافة </a>|
                <a asp-action="Edit" asp-route-id="@item.CourcesIdType">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.CourcesIdType">تفاصيل</a>
                @*<a asp-action="Delete" asp-route-id="@item.CourcesIdType">Delete</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourcesTypeName)
            </td>

        </tr>
}
    </tbody>
</table>
