@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Hr.Models.ViewModelEvalwithother>

@{
    ViewData["Title"] = "ميثاق الاداء-كل الموظفين 2022  طلبات معلقة ";
    //Layout = "~/Views/Shared/_Layout - Copy - Copy.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    @using (@Html.BeginForm())
                    {
                        <div>
                            @*<a asp-action="promotions" asp-controller="ViewModelEvalwithother1" class="btn btn-success">عودة </a>*@
                        </div>

                        @*<button type="submit" name="1" value="1" class="=btn btn-success" asp-action="approveduser" asp-controller="ViewModelMasterwithother" formmethod="post">تم الموافقة عليها </button>
                        <button type="submit" name="2" value="2" class="=btn btn-success" asp-action="canceluser" asp-controller="ViewModelMasterwithother" formmethod="post">تم رفضها  </button>

                        @Html.TextBox("search", "", new { placeholder = "بحث بالدورة", @class = "" })*@



                    }
                </p>
            </td>
            <td>
            </td>
        </tr>

    </tbody>
</table>
@*<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>*@


@*<table>
        <thead>
            <tr>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>
                        @using (@Html.BeginForm())
                        {
                            <button type="submit" class="=btn btn-primary mb-lg-4">بحث</button>
                            @Html.TextBox("search", "", new { placeholder = "بحث بالدورة ", @class = "" })

                        }
                    </p>
                </td>
                <td>
                </td>
            </tr>

        </tbody>
    </table>*@

@*<div id="sortMsg" style="text-align: center; color: Red;">
    </div>*@
@*<div class="row" style="float:right; width:100%">*@
<table @*style="width: 100%;"*@ id="table" class="table table-responsive-lg table-bordered table-condensed table-striped table-hover  sortable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                الرقم الوظيفي
            </th>
            <th>
                الموظف
            </th>
            <th>
                الطلب
            </th>
            <th>
                السجل
            </th>
            <th>
                الوظيفة
            </th>
            <th>
                الأدارة
            </th>
            <th>
                القسم
            </th>
            <th>
                المدير
            </th>
            @*<th>
                الدرجة
            </th>
            <th>
                100 الدرجة
            </th>
            <th>
                التقييم
            </th>*@
            <th>
                سنة
            </th>
            <th>
                حالة الطلب -المدير المباشر
            </th>
            <th>
                حالة الطلب -المدير المعتمد
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <!--<td>-->
            @*<a asp-controller="MasterDetails" asp-action="Create" asp-route-id="@item.MasterDetails.COURCES_IDMASTER">موافق</a> |
        <a asp-controller="MasterDetails" asp-action="Create2" asp-route-id="@item.MasterDetails.COURCES_IDMASTER">رفض</a>*@
            @*<a asp-controller="MasterDetails" asp-action="Delete" asp-route-id="@item.MasterDetails.MasterDetailsSerial">انتظار </a>*@

            <!--</td>-->
            <td>
                <a asp-controller="ViewModelEvalwithother1" asp-action="Details" asp-route-id="@item.AEvaluationEmp.EncryptedIdd" target="_blank" class="btn btn-success">عرض  </a>|
                    <a data-id="@item.AEvaluationEmp.EncryptedIdd" class="btn btn-primary" href="#" id="btnEdit">تحديث المدير المباشر</a>|
                    <a data-id="@item.AEvaluationEmp.EncryptedIdd" class="btn btn-success" href="##" id="btnEdit0">تحديث المدير المعتمد</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cemp.CEMPNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEvaluationEmp.Empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEvaluationEmp.Idd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cemp.CEMPPASSWRD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cemp.CEMPJOBNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cemp.DEP_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cemp.PARENTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cemp.MANAGERNAME)
            </td>
            @*<td>

                @Html.DisplayFor(modelItem => item.AEvaluationEmp.tot1)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEvaluationEmp.tot3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEvaluationEmp.tot2)
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.evalcomment2.dtapproved.Value.Year)*@
                    @Html.DisplayFor(modelItem => item.AEvaluationEmp.year)
            </td>
            <td>
                @if (item.evalDetail.OfferedRequestTo3 == "0")
                {
                    <span>انتظار </span>
                    @Html.DisplayFor(modelItem => item.evalDetail.OfferedRequestTo)
                }
            </td>
            <td>
                @if (item.evalDetail.OfferedRequestTo4 == "0")
                {
                    <span>انتظار </span>
                    @Html.DisplayFor(modelItem => item.evalDetail.OfferedRequestTo2)
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@*</div>*@

@*<div id="pager" class="pager">
        <br />
        <img src="~/Content/first.png" />
        <img src="~/Content/first.png" class="first" />
        <img src="~/Content/prev.png" class="prev" />
        <input type="text" class="pagedisplay" />
        <img src="~/Content/next.png" class="next" />
        <img src="~/Content/last.png" class="last" />
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#empTable")
                .tablesorter({ widthFixed: true })
                .tablesorterPager({ container: $("#pager") });
            $("#empTable").bind("sortStart", function () {
                $("#sortMsg").html('Sorting');
            }).bind("sortEnd", function () {
                $("#sortMsg").html('');
            });

            //Hide/delete row on click.
            $("#empTable img").click(function () { $(this).parent().parent().hide(); });
        });
    </script>*@
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        try {
            $("input[type='text']").each(function () {
                $(this).attr("autocomplete", "off");
            });
        }
        catch (e) { }
    });

</script>


<link href="~/DataTables (1)/datatables.css" rel="stylesheet" />

<script src="~/DataTables (1)/datatables.js"></script>

<script src="~/DataTables (1)/pdfmake-0.1.36/pdfmake.js"></script>

<script src="~/DataTables (1)/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="~/DataTables (1)/JSZip-2.5.0/jszip.js"></script>
@*<script src="~/js/jquery-1.4.1.min.js"></script>
    <script src="~/js/jquery.tablesorter.min.js"></script>
    <script src="~/js/jquery.tablesorter.pager.js"></script>*@
@*<link href="~/DataTables/datatables.css" rel="stylesheet" />
    <script src="~/DataTables/datatables.js"></script>*@



<script type="text/javascript">
    $(function () {
        $("body").on('click', '#btnEdit', function () {
            $("#MyPopup").modal("hide");
            var obj = {};
            obj.EncryptedId = $(this).attr('data-id');

            $.ajax({
                url: 'EditCustomer2v',
                data: JSON.stringify(obj),
                type: 'POST',
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var id = JSON.parse(response).c0;
                    var name = JSON.parse(response).c1;
                    var country = JSON.parse(response).c2;
                    var c3 = JSON.parse(response).c3;
                    var c4 = JSON.parse(response).c4;
                    var c5 = JSON.parse(response).c5;
                    var c6 = JSON.parse(response).c6;
                    var c7 = JSON.parse(response).c7;
                    var c8 = JSON.parse(response).c8;
                    var c10 = JSON.parse(response).c10;
                    var c11 = JSON.parse(response).c11;
                    var c12 = JSON.parse(response).c12;
                    var c13 = JSON.parse(response).c13;
                    $('#txtId').val(id);
                    $('#txtName').val(name);
                    $('#txtCountry').val(country);
                    $('#txtId3').val(c3);
                    $('#txtName3').val(c4);
                    $('#txtCountry3').val(c5);
                    $('#txtId4').val(c6);
                    $('#txtName4').val(c7);
                    $('#txtCountry4').val(c8);
                    $('#c10').val(c10);
                    $('#c11').val(c11);
                    $('#c12').val(c12);
                    $('#c13').val(c13);
                    $("#MyPopup").modal("show");
                }
            });
        });
    });
</script>

<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">بيانات الموظف</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Updatez2v" asp-controller="ViewModelEvalwithother1" method="post">
                    <div class="container">
                        <div class="row">
                            <input id="c10" name="c10" hidden />
                            <input id="c11" name="c11" hidden />
                            <input id="c12" name="c12" hidden />
                            <input id="c13" name="c13" hidden />
                            <div class="col-md-4">
                                <br />
                                 <div class="form-group">
                                اختيار المدير المباشر
                                <select class="chosen-select form-control" name="c2" asp-items="ViewBag.Cempid">
                                    <option value="55">تحديد</option>
                                </select>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @*     <select name="txtId0" id="chosen-select1" class="chosen-select form-control" data-placeholder="" asp-items="ViewBag.Cempid">
                                <option value="">--اختيار الموظف -- </option>

                                </select><br /><br />*@
                                @* <div class="form-group">
                                الرقم الوظيفي: <input id="txtId" name="txtId" class="form-control" readonly="readonly" />
                                </div>
                                <div class="form-group">
                                الاسم: <input id="txtName" name="txtName" class="form-control" readonly="readonly" />
                                </div>*@
                                @* <div class="form-group">
                                المسمي الوظيفي: <input id="txtCountry" class="form-control" readonly="readonly" />
                                </div>
                                <div class="form-group">
                                الدرجة من 100: <input id="txtCountry0" name="txtCountry0" type="number" max="100" step=".001" required autofocus />
                                </div>*@


                            </div>



                        </div>

                        <div class="row">
                            <div class="col-md-4">


                                <div class="form-group">
                                    <input type="submit" value="حفظ" class="btn btn-success btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="أغلاق" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("body").on('click', '#btnEdit0', function () {
            $("#MyPopup1").modal("hide");
            var obj = {};
            obj.EncryptedId = $(this).attr('data-id');

            $.ajax({
                url: 'EditCustomer2v0',
                data: JSON.stringify(obj),
                type: 'POST',
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var id = JSON.parse(response).c0;
                    var name = JSON.parse(response).c1;
                    var country = JSON.parse(response).c2;
                    var c3 = JSON.parse(response).c3;
                    var c4 = JSON.parse(response).c4;
                    var c5 = JSON.parse(response).c5;
                    var c6 = JSON.parse(response).c6;
                    var c7 = JSON.parse(response).c7;
                    var c8 = JSON.parse(response).c8;
                    var c10 = JSON.parse(response).c10;
                    var c11 = JSON.parse(response).c11;
                    var c12 = JSON.parse(response).c12;
                    var c13 = JSON.parse(response).c13;
                    $('#txtId').val(id);
                    $('#txtName').val(name);
                    $('#txtCountry').val(country);
                    $('#txtId3').val(c3);
                    $('#txtName3').val(c4);
                    $('#txtCountry3').val(c5);
                    $('#txtId4').val(c6);
                    $('#txtName4').val(c7);
                    $('#txtCountry4').val(c8);
                    $('#c10').val(c10);
                    $('#c11').val(c11);
                    $('#c12').val(c12);
                    $('#c130').val(c13);
                    $("#MyPopup1").modal("show");
                }
            });
        });
    });
</script>

<div id="MyPopup1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">بيانات الموظف</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Updatez2v0" asp-controller="ViewModelEvalwithother1" method="post">
                    <div class="container">
                        <div class="row">
                            <input id="c10" name="c10" hidden />
                            <input id="c11" name="c11" hidden />
                            <input id="c12" name="c12" hidden />
                            <input id="c130" name="c130" hidden />
                            <div class="col-md-4">
                                <br />
                                <div class="form-group">
                                    اختيار المدير المعتمد
                                    <select class="chosen-select form-control" name="c22" asp-items="ViewBag.Cempid">
                                        <option value="55">تحديد</option>
                                    </select>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @*     <select name="txtId0" id="chosen-select1" class="chosen-select form-control" data-placeholder="" asp-items="ViewBag.Cempid">
                                <option value="">--اختيار الموظف -- </option>

                                </select><br /><br />*@
                                @* <div class="form-group">
                                الرقم الوظيفي: <input id="txtId" name="txtId" class="form-control" readonly="readonly" />
                                </div>
                                <div class="form-group">
                                الاسم: <input id="txtName" name="txtName" class="form-control" readonly="readonly" />
                                </div>*@
                                @* <div class="form-group">
                                المسمي الوظيفي: <input id="txtCountry" class="form-control" readonly="readonly" />
                                </div>
                                <div class="form-group">
                                الدرجة من 100: <input id="txtCountry0" name="txtCountry0" type="number" max="100" step=".001" required autofocus />
                                </div>*@


                            </div>



                        </div>

                        <div class="row">
                            <div class="col-md-4">


                                <div class="form-group">
                                    <input type="submit" value="حفظ" class="btn btn-success btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="أغلاق" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        try {
            $("input[type='text']").each(function () {
                $(this).attr("autocomplete", "off");
            });
        }
        catch (e) { }
    });

</script>
<script>

    $(document).ready(function () {
        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                /*'copy', 'csv', 'excel', 'pdf',*/ 'print','excel'
            ],
            "language": {
                "emptyTable": "ليست هناك بيانات متاحة في الجدول",
                "loadingRecords": "جارٍ التحميل...",
                "processing": "جارٍ التحميل...",
                "lengthMenu": "أظهر _MENU_ مدخلات",
                "zeroRecords": "لم يعثر على أية سجلات",
                "info": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                "infoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                "infoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                "search": "ابحث:",
                "paginate": {
                    "first": "الأول",
                    "previous": "السابق",
                    "next": "التالي",
                    "last": "الأخير"
                },
                "aria": {
                    "sortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                    "sortDescending": ": تفعيل لترتيب العمود تنازلياً"
                },
                "select": {
                    "rows": {
                        "_": "%d قيمة محددة",
                        "0": "",
                        "1": "1 قيمة محددة"
                    },
                    "1": "%d سطر محدد",
                    "_": "%d أسطر محددة",
                    "cells": {
                        "1": "1 خلية محددة",
                        "_": "%d خلايا محددة"
                    },
                    "columns": {
                        "1": "1 عمود محدد",
                        "_": "%d أعمدة محددة"
                    }
                },
                "buttons": {
                    "print": "طباعة",
                    "copyKeys": "زر <i>ctrl<\/i> أو <i>⌘<\/i> + <i>C<\/i> من الجدول<br>ليتم نسخها إلى الحافظة<br><br>للإلغاء اضغط على الرسالة أو اضغط على زر الخروج.",
                    "copySuccess": {
                        "_": "%d قيمة نسخت",
                        "1": "1 قيمة نسخت"
                    },
                    "pageLength": {
                        "-1": "اظهار الكل",
                        "_": "إظهار %d أسطر"
                    },
                    "collection": "مجموعة",
                    "copy": "نسخ",
                    "copyTitle": "نسخ إلى الحافظة",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pdf": "PDF",
                    "colvis": "إظهار الأعمدة",
                    "colvisRestore": "إستعادة العرض"
                },
                "autoFill": {
                    "cancel": "إلغاء",
                    "info": "مثال عن الملئ التلقائي",
                    "fill": "املأ جميع الحقول بـ <i>%d&lt;\\\/i&gt;<\/i>",
                    "fillHorizontal": "تعبئة الحقول أفقيًا",
                    "fillVertical": "تعبئة الحقول عموديا"
                },
                "searchBuilder": {
                    "add": "اضافة شرط",
                    "clearAll": "ازالة الكل",
                    "condition": "الشرط",
                    "data": "المعلومة",
                    "logicAnd": "و",
                    "logicOr": "أو",
                    "title": [
                        "منشئ البحث"
                    ],
                    "value": "القيمة",
                    "conditions": {
                        "date": {
                            "after": "بعد",
                            "before": "قبل",
                            "between": "بين",
                            "empty": "فارغ",
                            "equals": "تساوي",
                            "not": "ليس",
                            "notBetween": "ليست بين",
                            "notEmpty": "ليست فارغة"
                        },
                        "number": {
                            "between": "بين",
                            "empty": "فارغة",
                            "equals": "تساوي",
                            "gt": "أكبر من",
                            "gte": "أكبر وتساوي",
                            "lt": "أقل من",
                            "lte": "أقل وتساوي",
                            "not": "ليست",
                            "notBetween": "ليست بين",
                            "notEmpty": "ليست فارغة"
                        },
                        "string": {
                            "contains": "يحتوي",
                            "empty": "فاغ",
                            "endsWith": "ينتهي ب",
                            "equals": "يساوي",
                            "not": "ليست",
                            "notEmpty": "ليست فارغة",
                            "startsWith": " تبدأ بـ "
                        }
                    },
                    "button": {
                        "0": "فلاتر البحث",
                        "_": "فلاتر البحث (%d)"
                    },
                    "deleteTitle": "حذف فلاتر"
                },
                "searchPanes": {
                    "clearMessage": "ازالة الكل",
                    "collapse": {
                        "0": "بحث",
                        "_": "بحث (%d)"
                    },
                    "count": "عدد",
                    "countFiltered": "عدد المفلتر",
                    "loadMessage": "جارِ التحميل ...",
                    "title": "الفلاتر النشطة"
                },
                "searchPlaceholder": "ابحث ..."
            }
        });
    });

</script>

<link href="~/DataTables (1)/datatables.css" rel="stylesheet" />

<script src="~/DataTables (1)/datatables.js"></script>

<script src="~/DataTables (1)/pdfmake-0.1.36/pdfmake.js"></script>

<script src="~/DataTables (1)/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="~/DataTables (1)/JSZip-2.5.0/jszip.js"></script>
<link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
<link href="~/js/chosen.css" rel="stylesheet" />
<link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
<link href="~/js/prism.css" rel="stylesheet" />
<script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
<script src="~/js/chosen.jquery.js"></script>
<script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
<script src="~/js/prism.js"></script>
<script src="~/datepicker/dist/js/bootstrap-hijri-datetimepicker.js"></script>
<script src="~/lib/globalize/globalize.js"></script>
<script src="~/lib/globalize/globalize-runtime.js"></script>
<script src="~/lib/globalize/date.js"></script>
<link href="~/datepicker/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
@*<script src="~/js/jquery-1.4.1.min.js"></script>
    <script src="~/js/jquery.tablesorter.min.js"></script>
    <script src="~/js/jquery.tablesorter.pager.js"></script>*@
@*<link href="~/DataTables/datatables.css" rel="stylesheet" />
    <script src="~/DataTables/datatables.js"></script>*@


<script type="text/javascript">
    $('#MyPopup').on('shown.bs.modal', function () {
        $('.chosen-select', this).chosen();
    });
</script>
<script type="text/javascript">
    $('#MyPopup1').on('shown.bs.modal', function () {
        $('.chosen-select', this).chosen();
    });
</script>
<script type="text/javascript">
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
</script>