

@model IEnumerable<Hr.Models.ViewModelMasterwithother>

@{
    ViewData["Title"] = " خدمة الترقيات  ";
    //Layout = "~/Views/Shared/_Layout - Copy - Copy.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
        @if (TempData["user"].ToString() == "4431001"|| TempData["user"].ToString() == "4321031"|| TempData["user"].ToString() == "4411013"|| TempData["user"].ToString() == "4291237"|| TempData["user"].ToString() == "4411011" || TempData["user"].ToString() == "4281001")
        {
            <a asp-action="approveduser111" class="btn btn-success">  كل الموظفين   </a>
        }
    </div>*@

<link href="~/datepicker/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<h1 style="text-align: center; background-color: #FFF5D7;">بيانات تقييم الأداء الوظيفي لأخر سنة  </h1>
<table class="table table-responsive-lg table-bordered table-condensed table-striped table-hover  sortable">
    <thead>
        <tr>
            <th>
                <h1> </h1>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                <h2 style="color:black">
                    الدرجة <span style="color: #ff0000">@TempData["GRADEp"].ToString()</span>    من  5  تعادل      <span style="color: #ff0000">@TempData["GRADENp1"].ToString()</span>   من   100


                    التقدير :  <span style="color: #ff0000">@TempData["GRADENp"].ToString()</span>   تاريخ  التقييم :   <span style="color: #ff0000"> @TempData["GRADEp1"].ToString()</span>
                    <p style="color:red">@ViewBag.mesg</p>
                </h2>

            </td>

        </tr>

    </tbody>
</table>
<hr />
<h1 style="text-align: center; background-color: #FFF5D7;">بيانات برامج التطوير والتدريب المحتسبة بالترقية   </h1>
<table id="table" @*style="width: 100%;"*@ class="table table-bordered table-condensed table-striped table-hover table-responsive-lg sortable">
    <thead>
        <tr>
            @*<th>

                </th>*@

            <th>
                رقم الطلب
            </th>
            <th>
                الدورة
            </th>
            <th>
                نوع الدورة
            </th>

            <th>
                بداية الدورة
                -
                نهاية الدورة
            </th>
            <th>
                جهة الدورة
            </th>
            <th>
                جهة تنفيذ التدريب
            </th>
            <th>
                الدرجة
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!--<td>
                    <a asp-controller="MasterDetails" asp-action="Create" asp-route-id="@item.MasterDetails.COURCES_IDMASTER" class="btn btn-success">موافق</a>
                    <a asp-controller="MasterDetails" asp-action="Create2" asp-route-id="@item.MasterDetails.COURCES_IDMASTER" class="btn btn-danger">رفض</a>-->
                @*<a asp-controller="MasterDetails" asp-action="Delete" asp-route-id="@item.MasterDetails.MasterDetailsSerial">انتظار </a>*@

                <!--</td>-->

                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesMasters.CourcesIdmaster)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesNames.CourcesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesTypes.CourcesTypeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesMasters.CourcesStartDate)
                    -
                    @Html.DisplayFor(modelItem => item.ACourcesMasters.CourcesEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesDeptouts.CourcesNameDeptout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesMasters.COURCES_EXCUTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACourcesMasters.gradetocourse)
                </td>

            </tr>
        }

    </tbody>
    <h3> اجمالي درجات الدورات  <span style="color: #ff0000">@TempData["sumgrade"].ToString()</span> </h3>
</table>

<<<<<<< HEAD
<!--<table id="table"--> @*style="width: 100%;"*@
<!--class="table table-bordered table-condensed table-striped table-hover table-responsive-lg sortable">
=======
<<<<<<< HEAD
<!--<table id="table"--> @*style="width: 100%;"*@ <!--class="table table-bordered table-condensed table-striped table-hover table-responsive-lg sortable">
=======
<table id="table" @*style="width: 100%;"*@ class="table table-bordered table-condensed table-striped table-hover table-responsive-lg sortable">
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
    <tr>
        <td>
            اجمالي نقاط برامج التطوير والتدريب من والي :
        </td>
        <td>
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
            
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
            <div class="form-group">
                <label class="control-label">فترة بداية الدورات   </label>
                <div class="input-group" style="float: left">
                    <input type="text" class="form-control hijri-date-input" id="cc4" />
                </div>
                <span class="text-danger"></span>
            </div>
        </td>
        <td>
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
            
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
            <div class="form-group">
                <label class="control-label">فترة نهاية  الدورات   </label>
                <div class="input-group" style="float: left">
                    <input type="text" class="form-control hijri-date-input" id="cc1" />
                </div>
                <span class="text-danger"></span>
            </div>
        </td>
        <td>
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
            
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
            @Html.ActionLink(" احسب ", "editxt2", "ViewModelEvalwithother1", new { }, new { @class = "AddSection", onclick = "return AreYouSureFunction(this);" })
        </td>
        <td>
            يساوي
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
            @TempData["sumgrade1"].ToString()
        </td>
    </tr>
</table>-->

<br />

<hr />
<h1 style="text-align: center; background-color: #FFF5D7;">بيانات درجة المقابلة الشخصية للموظف    </h1>
<<<<<<< HEAD
<h2>
    الدرجة <span style="color: #ff0000">@TempData["mygrade"].ToString()</span>   التاريخ <span style="color: #ff0000">@TempData["mygradedate"].ToString()</span>
</h2>
<hr />
<h1 style="text-align: center; background-color: #FFF5D7;">درجة معايير الترقية    </h1>
<h2>
    الدرجة <span style="color: #ff0000">@TempData["mygrade1"].ToString()</span>
</h2>

=======
 الدرجة <span style="color: #ff0000">@TempData["mygrade"].ToString()</span>
<hr />
<h1 style="text-align: center; background-color: #FFF5D7;">درجة معايير الترقية    </h1>
 الدرجة <span style="color: #ff0000">@TempData["mygrade1"].ToString()</span>
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
<br />
 درجة معيار الاداء الوظيفي بوزن 30% درجة معيار التطوير والتدريب بوزن  30%  درجة معيار المقابة الشخصية بوزن 40%
<br />
اجمالي النقاط :درجة معيار الاداء الوظيفي +التطوير والتدريب +المقابلة الشخصية

<hr />
<<<<<<< HEAD
=======
=======
       @TempData["sumgrade1"].ToString()
        </td>
    </tr>
</table>
<br />
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
@*<div id="pager" class="pager">
        <br />
        <img src="~/Content/first.png" />
        <img src="~/Content/first.png" class="first" />
        <img src="~/Content/prev.png" class="prev" />
        <input type="text" class="pagedisplay" />
        <img src="~/Content/next.png" class="next" />
        <img src="~/Content/last.png" class="last" />
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </div>*@
@*<script type="text/javascript">
        $(function () {
            $("#empTable")
                .tablesorter({ widthFixed: true })
                .tablesorterPager({ container: $("#pager") });
            $("#empTable").bind("sortStart", function () {
                $("#sortMsg").html('Sorting');
            }).bind("sortEnd", function () {
                $("#sortMsg").html('');
            });

            //Hide/delete row on click.
            $("#empTable img").click(function () { $(this).parent().parent().hide(); });
        });
    </script>*@
<script type='text/javascript'>
    function AreYouSureFunction(source) {
        //Prompt for confirmation
        if (confirm("هل تريد احتساب درجة الدورات طبقا للتواريخ المحددة  ؟")) {
            //Your AJAX call that corresponds with the href attribute of your link
            $.ajax({
                url: source,
                data: {
                    ii: $("#cc4").val(),
                    qi: $("#cc1").val(),
                },
            }).done(function () {
                //Item created!
                //$("#p1").show();
                //$("#cc1").hide();
                //$("#ii1").hide();
                //$("#ii0").hide();
                //$(".AddSection").hide();
                alert("تم  !");
            });
            //This prevents the default behavior of the actual link (it will hit your controller action)
            return false;
        }
        else {
            alert(" تم الغاء الاحتساب !");
            //Unconfirmed - cancel any further actions
            return false;
        }
    }

    function AreYouSureFunction1() {
        //Prompt for confirmation
        if (confirm("هل تريد الحفظ ؟")) {
            //Your AJAX call that corresponds with the href attribute of your link
            $.ajax({
                url: '/ViewModelEvalwithother1/editxt1',
                data: {
                    i: $("#cc4").val(),
                    q: $("#cc1").val(),
                },
            }).done(function () {
                //Item created!
                $("#p1").show();
                $("#cc1").hide();
                $("#ii1").hide();
                $("#ii0").hide();
                alert("تم  !");
            });
            //This prevents the default behavior of the actual link (it will hit your controller action)
            return false;
        }
        else {
            alert(" تم الغاء الحفظ !");
            //Unconfirmed - cancel any further actions
            return false;
        }
    }

</script>
@*<script language="javascript" type="text/javascript">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
        $(document).ready(function () {

            $("#p1").hide();
            $("#cc2").click(function () {
                $("#p1").show();
                $("#cc1").hide();
            });

        });
    </script>*@
<<<<<<< HEAD
=======
=======
    $(document).ready(function () {

        $("#p1").hide();
        $("#cc2").click(function () {
            $("#p1").show();
            $("#cc1").hide();
        });

    });
</script>*@
>>>>>>> ce52c410987e6716070bd52aa571f39c0ecc22a4
>>>>>>> 45d78e3ca66fb8f490d9ad386017ee5c2f9d479e
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        try {
            $("input[type='text']").each(function () {
                $(this).attr("autocomplete", "off");
            });
        }
        catch (e) { }
    });

</script>

<script>

    $(document).ready(function () {
        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                    /*'copy', 'csv', 'excel', 'pdf',*/ 'print', 'excel'
            ],
            "language": {
                "emptyTable": "ليست هناك بيانات متاحة في الجدول",
                "loadingRecords": "جارٍ التحميل...",
                "processing": "جارٍ التحميل...",
                "lengthMenu": "أظهر _MENU_ مدخلات",
                "zeroRecords": "لم يعثر على أية سجلات",
                "info": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                "infoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                "infoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                "search": "ابحث:",
                "paginate": {
                    "first": "الأول",
                    "previous": "السابق",
                    "next": "التالي",
                    "last": "الأخير"
                },
                "aria": {
                    "sortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                    "sortDescending": ": تفعيل لترتيب العمود تنازلياً"
                },
                "select": {
                    "rows": {
                        "_": "%d قيمة محددة",
                        "0": "",
                        "1": "1 قيمة محددة"
                    },
                    "1": "%d سطر محدد",
                    "_": "%d أسطر محددة",
                    "cells": {
                        "1": "1 خلية محددة",
                        "_": "%d خلايا محددة"
                    },
                    "columns": {
                        "1": "1 عمود محدد",
                        "_": "%d أعمدة محددة"
                    }
                },
                "buttons": {
                    "print": "طباعة",
                    "copyKeys": "زر <i>ctrl<\/i> أو <i>⌘<\/i> + <i>C<\/i> من الجدول<br>ليتم نسخها إلى الحافظة<br><br>للإلغاء اضغط على الرسالة أو اضغط على زر الخروج.",
                    "copySuccess": {
                        "_": "%d قيمة نسخت",
                        "1": "1 قيمة نسخت"
                    },
                    "pageLength": {
                        "-1": "اظهار الكل",
                        "_": "إظهار %d أسطر"
                    },
                    "collection": "مجموعة",
                    "copy": "نسخ",
                    "copyTitle": "نسخ إلى الحافظة",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pdf": "PDF",
                    "colvis": "إظهار الأعمدة",
                    "colvisRestore": "إستعادة العرض"
                },
                "autoFill": {
                    "cancel": "إلغاء",
                    "info": "مثال عن الملئ التلقائي",
                    "fill": "املأ جميع الحقول بـ <i>%d&lt;\\\/i&gt;<\/i>",
                    "fillHorizontal": "تعبئة الحقول أفقيًا",
                    "fillVertical": "تعبئة الحقول عموديا"
                },
                "searchBuilder": {
                    "add": "اضافة شرط",
                    "clearAll": "ازالة الكل",
                    "condition": "الشرط",
                    "data": "المعلومة",
                    "logicAnd": "و",
                    "logicOr": "أو",
                    "title": [
                        "منشئ البحث"
                    ],
                    "value": "القيمة",
                    "conditions": {
                        "date": {
                            "after": "بعد",
                            "before": "قبل",
                            "between": "بين",
                            "empty": "فارغ",
                            "equals": "تساوي",
                            "not": "ليس",
                            "notBetween": "ليست بين",
                            "notEmpty": "ليست فارغة"
                        },
                        "number": {
                            "between": "بين",
                            "empty": "فارغة",
                            "equals": "تساوي",
                            "gt": "أكبر من",
                            "gte": "أكبر وتساوي",
                            "lt": "أقل من",
                            "lte": "أقل وتساوي",
                            "not": "ليست",
                            "notBetween": "ليست بين",
                            "notEmpty": "ليست فارغة"
                        },
                        "string": {
                            "contains": "يحتوي",
                            "empty": "فاغ",
                            "endsWith": "ينتهي ب",
                            "equals": "يساوي",
                            "not": "ليست",
                            "notEmpty": "ليست فارغة",
                            "startsWith": " تبدأ بـ "
                        }
                    },
                    "button": {
                        "0": "فلاتر البحث",
                        "_": "فلاتر البحث (%d)"
                    },
                    "deleteTitle": "حذف فلاتر"
                },
                "searchPanes": {
                    "clearMessage": "ازالة الكل",
                    "collapse": {
                        "0": "بحث",
                        "_": "بحث (%d)"
                    },
                    "count": "عدد",
                    "countFiltered": "عدد المفلتر",
                    "loadMessage": "جارِ التحميل ...",
                    "title": "الفلاتر النشطة"
                },
                "searchPlaceholder": "ابحث ..."
            }
        });
    });

</script>

<link href="~/DataTables (1)/datatables.css" rel="stylesheet" />

<script src="~/DataTables (1)/datatables.js"></script>

<script src="~/DataTables (1)/pdfmake-0.1.36/pdfmake.js"></script>

<script src="~/DataTables (1)/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="~/DataTables (1)/JSZip-2.5.0/jszip.js"></script>
<script src="~/datepicker/dist/js/bootstrap-hijri-datetimepicker.js"></script>


<script type="text/javascript">


    $(function () {

        initHijrDatePicker();

        initHijrDatePickerDefault();

        $('.disable-date').hijriDatePicker({

            minDate: "2020-01-01",
            maxDate: "2023-01-01",
            viewMode: "years",
            hijri: true,
            debug: true,


        });

    });


    function initHijrDatePicker() {

        $(".hijri-date-input").hijriDatePicker({
            minDate: "2000-01-01",
            /*      maxDate:"2021-10-06",*/
            maxDate: new Date(new Date().setDate(new Date().getDate())),
            /*   endDate: new Date(new Date().setDate(new Date().getDate() + 5))*/
            /*   minDate: new Date(new Date().setDate(new Date().getDate() + 1))*/
            todayHighlight: true,
            //disabledDates: [new Date()],
            locale: "ar-sa",
            format: "YYYY-MM-DD",
            hijriFormat: "iYYYY-iMM-iDD",
            dayViewHeaderFormat: "MMMM YYYY",
            hijriDayViewHeaderFormat: "iMMMM iYYYY",
            showSwitcher: false,
            allowInputToggle: true,
            language: "AR",
            /* showTodayButton: false,*/
            useCurrent: true,
            isRTL: false,
            viewMode: 'months',
            keepOpen: false,
            hijri: true,
            debug: true,
            showClear: true,
            showTodayButton: true,
            showClose: true,
            /*     autoclose: true,*/




        });
    }

    function initHijrDatePickerDefault() {

        $(".hijri-date-default").hijriDatePicker();
    }

</script>
@*<script src="~/js/jquery-1.4.1.min.js"></script>
    <script src="~/js/jquery.tablesorter.min.js"></script>
    <script src="~/js/jquery.tablesorter.pager.js"></script>*@
