@model IEnumerable<Hr.Models.ACourcesEstimate>

@{
    ViewData["Title"] = "عرض ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>عرض </h1>

<p>
    
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CourcesNameEstimate)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Create">اضافة </a>|
                <a asp-action="Edit" asp-route-id="@item.CourcesIdEstimate">تعديل </a> |
                <a asp-action="Details" asp-route-id="@item.CourcesIdEstimate">تفاصيل</a> |
                @*<a asp-action="Delete" asp-route-id="@item.CourcesIdEstimate">حذف</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourcesNameEstimate)
            </td>

        </tr>
}
    </tbody>
</table>
