@model Hr.Models.Cemp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cemp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEMPUSERNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEMPUSERNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEMPPASSWRD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEMPPASSWRD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEMPNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEMPNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEMPNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEMPNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEMPJOBNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEMPJOBNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEMPADPRTNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEMPADPRTNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEP_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEP_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLSSNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLSSNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MANAGERID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MANAGERID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MANAGERNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MANAGERNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARENTID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARENTID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cemphiringdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cemphiringdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cemplastupgrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cemplastupgrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARENTNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARENTNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CROLEID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CROLEID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cempid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
