@model Hr.Models.ACourcesMaster

@{
    ViewData["Title"] = "طلب أرشفة دورة جديدة";
    //Layout = "~/Views/Shared/_Layout - Copy - Copy.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>

<head>
    @*<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">*@
    <link href="~/datepicker/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>تسجيل دورة</title>

    <style>
    </style>
</head>
<body>
    <div>
        <a asp-action="search" class="btn btn-success">عرض الدورات </a>
    </div>
    <h4>تسجيل الدورات  التدريبية </h4>
    <p>
        عزيزي الموظف/ـة<br />
        إشارة إلى نشرة إجراءات طريقة إحتساب معايير وعناصر مفاضلة الترقيات المصاحبة للتعميم وكيل وزارة الخدمة المدنية -سابقاً- لإدارة رأس المال البشري رقم 29611 بتاريخ 17-12-1440هـ بشأن ضوابط الترقيات وتعميم مدير عام الموارد البشرية رقم4200271315 وتاريخ 1442/4/4هـ بشأن أنواع البرامج التدريبية المعتمدة بالترقية وتعميم رقم 4300092841 وتاريخ 1443/2/1هـ بشأن التنسيق مع الإدارة العامة للموارد البشرية قبل ترشيح الموظفين للتدريب، يكون قبول أرشفة شهادات البرامج والدورات التدريبية المعتمدة بالترقية على النحو التالي:.
        <br />
        1- يمكن فقط أرشفة الدورات التدريبية التي حصل عليها الموظف من بعد تاريخ آخر ترقية أو التعيين في حال لم يسبق له الترقية.
        <br />
        2- لا تقبل الشهادات التي ذكر فيها التالي: ورشة عمل، مؤتمر، ملتقى، ندوة، محاضرة ..إلخ.
        <br />
        3- لا تقبل الشهادات التدريبية التي لم تتم بترشيح من الإدارة العامة للموارد البشرية.
        <br />

        4- في حال حصل الموظف لشهادتي حضور واجتياز لدورة تدريبية واحدة، يجب ارفاق الشهادة التي تضمنت ما يفيد الاجتياز لاحتساب الدرجة الصحيحة، وفي حال لم ترفق يتحمل الموظف صحة رفع الوثائق.
        ويتم احتساب درجة نقاط التدريب وفق ما ورد في النشرة المصاحبة لتعميم وكيل وزارة الخدمة المدنية -سابقاً- لإدارة رأس المال البشري رقم 29611 بتاريخ 17-12-1440هـ:
        <br />

        <img src="~/img/courses.jpg" alt="شرح للكورسات المعتمدة" width="750" height="225" />

        <br />

        <br />
        أنواع البرامج التدريبية المعتمدة بالترقية بالأمانة وبلديات المنطقة للمراتب (الثالثة عشر فما دون)
        <br />
        رقم التعميم: ٤٤٠٠٠٦٠٤٢٢ تاريخ ١٤٤٤/١/٢٣هـ
        <br />
        1-البرامج التدريبية التي تُشرف عليها الإدارة العامة للموارد البشرية بالأمانة أو البلدية مباشرة أو صدر بها خطاب أو تعميم من قبلها.
        <br />
        2-البرامج التدريبية التي تنفذها الوكالات أو إدارات العموم بشرط التنسيق مع الإدارة العامة للموارد البشرية بالأمانة أو البلدية.
        <br />
        3-جميع البرامج التدريبية المنفذة من قبل معهد الإدارة العامة أو مركز الأعمال بكافة أنواعها ومنصة إثرائي.
        <br />
        4-جميع البرامج التدريبية المقدمة من الديون العام للمحاسبة.
        <br />
        5-البرامج التدريبية المنفذة من قبل الوزارة (أو بالتعاون معها بشرط اثبات ذلك).
        <br />
        6-البرامج التدريبة المنفذة في القطاع الخاص والمنتهية باختبار اجتياز بشرط أن تكون الموافقة صادرة بقرار اعتماد من الإدارة العامة للموارد البشرية بالأمانة أو البلدية.
        <br />
        7-البرامج التدريبية الدولية بشرط أن تكون الموافقة صادرة بقرار اعتماد من الإدارة العامة للموارد البشرية بالأمانة أو البلدية.
        <br />
        8-البرامج التدريبية الإثرائية المعممة من قبل الإدارة العامة للموارد البشرية بالأمانة أو البلدية.

        <br />
        9-جميع البرامج التدريبية المقدمة من المعهد السعودي العقاري.
        <br />
        10-جميع البرامج التدريبية المنفذة من قبل المؤسسة العامة للتدريب التقني والمهني أو كلياتها.
        <br />
        11-جميع البرامج التدريبية المنفذة من قبل مراكز التدريب في الوزارات أو الجهات الحكومية.
        <br />
        ملاحظة: تحتسب نقاط الدورة التدريبية بالترقية من بعد تاريخ أخر ترقية ( أو تاريخ التعيين إذا لم يسبق للموظف أن تم ترقيته).
        <br />
        <span style="color:red;">(ينصح بإستخدام متصفح قوقل كروم Google Chrome عند أرشفة شهادات الدورات التدريبية لظهور التواريخ الهجرية بالشكل الأمثل).</span>
    </p>
    <hr />
    <div class="row" @*style="float:right; width:40%"*@>
        <div class="col-md-5">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"> تحديد اسم الدورة  </label>
                    <select asp-for="CourcesId" id="chosen-select16" class="chosen-select form-control chosen1" asp-items="ViewBag.CourcesId">
                        <option value="55">تحديد</option>
                        @*<option value="00">كورس غير مدرج -اخر </option>*@
                    </select>
                    <span asp-validation-for="CourcesId" class="text-danger"></span>
                    <p style="color:red">@ViewBag.ErrorMessage3</p>
                </div>
                <div class="form-group response" id="respond-1" style="display:none;">
                    <label class="control-label">اسم الدورة الجديد   </label>
                    <input asp-for="CourcesPassRate" class="form-control" />
                    <span asp-validation-for="CourcesPassRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">تحديد نوع الدورة </label>
                    <select asp-for="CourcesIdType" id="chosen-select1" class="chosen-select form-control chosen11 " data-placeholder="اختيار نوع الدورة " asp-items="ViewBag.ACourcesType">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdType" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label class="control-label">الادارة  </label>
                        <select asp-for="CourcesIdDeptin" id="chosen-select2" class="form-control chosen-select" data-placeholder="اختيار الادارة " asp-items="ViewBag.ACourcesDeptin">
                            <option value="">تحديد</option>
                        </select>
                        <span asp-validation-for="CourcesIdDeptin" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label class="control-label">حدد مكان التدريب </label>
                    <select asp-for="CourcesIdTraining" id="chosen-select3" class="form-control chosen-select ss" data-placeholder="اختيار نوع التدريب  " asp-items="ViewBag.ACourcesTrainingMethod">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdTraining" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">جهة التدريب </label>
                    <select asp-for="CourcesIdDeptout" id="chosen-select4" class="chosen-select form-control yy" data-placeholder="اختيار مقدم الدورة  " asp-items="ViewBag.ACourcesDeptout">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdDeptout" class="text-danger"></span>
                </div>
              @*  <div class="form-group">
                    <label class="control-label">جهة تنفيذ التدريب </label>
                    <select asp-for="COURCES_EXCUTION" id="chosen-select44" class="chosen-select form-control" data-placeholder="اختيار جهة تنفيذ التدريب  ">
                        <option value="">تحديد</option>
                        <option value="جهة تدريب دولية">جهة تدريب دولية</option>
                        <option value="جهة تدريب حكومية">جهة تدريب حكومية</option>
                        <option value="جهة تدريب بالقطاع الخاص">جهة تدريب بالقطاع الخاص</option>
                    </select>
                    <span asp-validation-for="COURCES_EXCUTION" class="text-danger"></span>
                </div>*@
                <div class="form-group" id="a" @*id="respond-2" style="display:none;"*@>
                    <label class="control-label">تقدير الدورة </label>
                    <select asp-for="CourcesIdEstimate" id="chosen-select5" class="form-control chosen-select chosen5" data-placeholder="ممتاز +90 جيد جدا+80 جيد +70 مقبول +60" asp-items="ViewBag.ACourcesEstimate">
                        <option value="7">تحديد</option>
                        @*<option value="66">ممتاز +90 جيد جدا+80 جيد +70 مقبول +60</option>*@
                    </select>
                    @*multiple style="width:350px;" tabindex="9" to use place holder *@
                    <span asp-validation-for="CourcesIdEstimate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">ارفاق شهادة الدورة*   <label style="color:black;">"(jpeg,jpg,png,gif,jfif,pdf) !"</label> <label style="color:black;">"الحد الاقصي لحجم الملف 4 ميجا!"</label> </label>
                    <input type="file" asp-for="Filecer" class="form-control" id="f1" asp-items="ViewBag.CourcesIdImagecert" />
                    <span asp-validation-for="CourcesIdImagecert" class="text-danger"></span>
                    <p style="color:red">@ViewBag.ErrorMessage</p>
                </div>
                <div class="form-group">
                    <label class="control-label">ارفاق  اعتماد الموارد البشرية <label style="color:black;">"(jpeg,jpg,png,gif,jfif,pdf) !"</label><label style="color:black;">"الحد الاقصي لحجم الملف 4 ميجا!"</label> </label>
                    <input type="file" asp-for="Filehr" class="form-control" asp-items="ViewBag.ACourcesCertImagehr" />
                    <span asp-validation-for="CourcesIdImagehr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">بداية الدورة   </label>
                    <div class="input-group" style="float: left">
                        <input type="text" class="form-control hijri-date-input" asp-for="CourcesStartDate" />
                    </div>
                    <span asp-validation-for="CourcesStartDate" class="text-danger"></span>
                    <p style="color:red">@ViewBag.ErrorMessage1</p>
                    <p style="color:red">@ViewBag.ErrorMessage2</p>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label">نهاية الدورة   </label>
                    <div class="input-group" style="float: left">
                        <input type="text" class="form-control hijri-date-input" asp-for="CourcesEndDate" />
                    </div>
                    <span asp-validation-for="CourcesEndDate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label class="control-label">عدد ايام التدريب  </label>
                        <input asp-for="CourcesNumberofdays" readonly class="form-control" />
                        <span asp-validation-for="CourcesNumberofdays" class="text-danger"></span>
                    </div>*@

                @*<div class="form-group">
                        <label class="control-label">اسم الموظف </label>
                        <select asp-for="Cempid" class="form-control" asp-items="ViewBag.Cempid">
                            <option value="">Select--</option>
                        </select>
                    </div>*@
                @*@Html.ValidationMessage("uploadError")*@

                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn btn-success" @*onClick="m()"*@ />
                </div>
            </form>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Raw(@ViewBag.Alert)
            </div>
        </div>
    </div>*@
    @*<div style="float:right; width:40%">
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
    <link href="~/js/chosen.css" rel="stylesheet" />
    <link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
    <link href="~/js/prism.css" rel="stylesheet" />
    <script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
    <script src="~/js/prism.js"></script>
    <script src="~/datepicker/dist/js/bootstrap-hijri-datetimepicker.js"></script>
    <script src="~/lib/globalize/globalize.js"></script>
    <script src="~/lib/globalize/globalize-runtime.js"></script>
    <script src="~/lib/globalize/date.js"></script>
    @*<script type="text/javascript">
            $(document).on("click", ":submit", function (e) {

                if (!$('#f1').val()) {
                    e.preventDefault();
                    alert('يرجي ارفاق شهادة الدورة ');
                }

            }

        </script>*@

    <script type="text/javascript">


        $('#chosen-select16').append(new Option('آخري', 5));
        /* $('#chosen-select5').append(new Option('ممتاز +90 جيد جدا+80 جيد +70 مقبول +60', 0));*/
        $("#a").css('visibility', 'hidden');

        //function m() {
        //    if (document.getElementById("f1").files.length == 0) {
        //        console.log("لم يتم ارفاق شهادة الدورة ");
        //        alert("لم يتم ارفاق شهادة الدورة ");
        //    }

        //}

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }//,
            //'.chosen-search': {disable_search: false}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
      

        $("select.chosen11").change(function () {

            var selectedCountry11 = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry11 == 2 || selectedCountry11 == 4) {
                alert("  يرجي اختيار التقدير  - ");
                $("#a").css('visibility', 'visible');
                var hiddenBox = $("#respond-2");
                hiddenBox.show();

            }
            // 22-1-2023
            else if (selectedCountry11 == 3) {
                alert("  يرجي الانتباه ان الدورات الاثرائية تتم عن بعد ومن منصة اثرائي :معهد الأدارة العامة  ");
                //$("#chosen-select3").html("<option value='1'>000 </option><option value='1'>عن بعد </option>");
                //$("#chosen-select4").html("<option value='3'>111 </option><option value='3'>منصة أثرائي :معهد ألادارة العامة</option>");
                //$('ss option[value="1"]').attr("selected", true);
                //$('yy option[value="3"]').attr("selected", true);
                //$('#chosen-select3 option[value="1"]').attr("selected", true);
                //$('#chosen-select4 option[value="3"]').attr("selected", true);
                //$("#chosen-select3").val(1);
                //$("#chosen-select4").val(5);
                //$('ss option:contains("عن بعد ")').prop('selected', true);
                //$('yy option:contains("منصة إثرائي- معهد الإدارة العامة")').prop('selected', true);
                //$("#chosen-select3 option:not(:selected)").prop("disabled", true);
                //$("#chosen-select4 option:not(:selected)").prop("disabled", true);
                //$("#chosen-select3 option[value='1']").attr("disabled", "disabled");
                //$("#chosen-select4 option[value='3']").prop("disabled", true);
                //$('#chosen-select3').selectpicker('refresh');
                //$("[id^=chosen-select4]").prop("readonly", "");
            }
            else {
                $("#a").css('visibility', 'hidden');
                var hiddenBox = $("#respond-2");
                hiddenBox.hide();

            }
            //if (selectedCountry11 == 1 || selectedCountry11 == 3) {

            //    var select = document.getElementById('chosen-select44')
            //    /*select.removeChild(select.options['جهة تدريب بالقطاع الخاص'])*/
            //    select.removeChild(getOptionByValue(select, 'جهة تدريب بالقطاع الخاص'))

            //    function getOptionByValue(select, value) {
            //        var options = select.options;
            //        for (var i = 0; i < options.length; i++) {
            //            if (options[i].value === value) {
            //                return options[i]
            //            }
            //        }
            //        return null
            //    }
            //}

        });

        $("select.chosen1").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الدورة الجديد باالاسفل - ");

                var hiddenBox = $("#respond-1");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-1");
                hiddenBox.hide();

            }
        });
        $("select").change(function () {
            var selected5 = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selected5 == 0) {
                alert("لايتم اختيار هذا العنصر  - ");

            }
        });
    </script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            try {
                $("input[type='text']").each(function () {
                    $(this).attr("autocomplete", "off");
                });
            }
            catch (e) { }
        });

    </script>



    <script type="text/javascript">


        $(function () {

            initHijrDatePicker();

            initHijrDatePickerDefault();

            $('.disable-date').hijriDatePicker({

                minDate: "2020-01-01",
                maxDate: "2023-01-01",
                viewMode: "years",
                hijri: true,
                debug: true,


            });

        });


        function initHijrDatePicker() {

            $(".hijri-date-input").hijriDatePicker({
                minDate: "2000-01-01",
                /*      maxDate:"2021-10-06",*/
                maxDate: new Date(new Date().setDate(new Date().getDate())),
                /*   endDate: new Date(new Date().setDate(new Date().getDate() + 5))*/
                /*   minDate: new Date(new Date().setDate(new Date().getDate() + 1))*/
                todayHighlight: true,
                //disabledDates: [new Date()],
                locale: "ar-sa",
                format: "YYYY-MM-DD",
                hijriFormat: "iYYYY-iMM-iDD",
                dayViewHeaderFormat: "MMMM YYYY",
                hijriDayViewHeaderFormat: "iMMMM iYYYY",
                showSwitcher: false,
                allowInputToggle: true,
                language: "AR",
                /* showTodayButton: false,*/
                useCurrent: true,
                isRTL: false,
                viewMode: 'months',
                keepOpen: false,
                hijri: true,
                debug: true,
                showClear: true,
                showTodayButton: true,
                showClose: true,
                /*     autoclose: true,*/




            });
        }

        function initHijrDatePickerDefault() {

            $(".hijri-date-default").hijriDatePicker();
        }

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script>
        try {
            fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
                return true;
            }).catch(function (e) {
                var carbonScript = document.createElement("script");
                carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
                carbonScript.id = "_carbonads_js";
                document.getElementById("carbon-block").appendChild(carbonScript);
            });
        } catch (error) {
            console.log(error);
        }
    </script>

</body>
</html>
@*style="float:right; width:40%"*@