@model Hr.Models.ACourcesMaster

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ACourcesMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdDeptin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdDeptin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdDeptout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdDeptout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdEstimate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdEstimate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdImagecert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdImagecert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesIdImagehr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesIdImagehr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesNumberofdays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesNumberofdays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourcesPassRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesPassRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cemp.Cempid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cources)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cources.CourcesId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourcesIdmaster">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
