@model Hr.Models.ACourcesOffered3

@{
    ViewData["Title"] = "نموذج الترشح لدورات الجهات التدريبية  ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a asp-action="search1" class="btn btn-success">عرض الدورات </a>
</div>
<h1>اضافة دورات الترشح للجهات التدريبية  </h1>

<h4>@*ACourcesOffered*@</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="container">
        <div class="table-responsive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <div class="">
                    @*<label asp-for="CourcesIdDeptout" class="control-label"></label>*@
                    اختر اسم الجهة التدريبية*
                    @*<input asp-for="CourcesIdDeptout" class="form-control" />*@
                    <select asp-for="CourcesIdDeptout" id="chosen-select4" class="chosen-select form-control " data-placeholder="اختيار مقدم الدورة  " asp-items="ViewBag.ACourcesDeptout">
                        @*<option value="0">تحديد</option>*@
                    </select>
                    <span asp-validation-for="CourcesIdDeptout" class="text-danger"></span>
                </div>
                <div class="">
                    ادخل طبيعة المهام الفعلية للموظف  *
                    <textarea asp-for="workdue" class="form-control"></textarea>
                    <span asp-validation-for="workdue" class="text-danger"></span>
                </div>
            </div>
            <center><h1 style="text-align:center; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">الرجاء اختيار البرامج التدريبية التي ترغب الترشح لها</h1></center>
            <hr />
            <table class="table">
                <thead>
                <th>#</th>
                <th>البرنامج التدريبي </th>
                <th>تاريخ التنفيذ </th>
                <th>مكان الدورة </th>
                </thead>

                <!--<div id="a111">
        </div>

        <div id="a222">


        </div>

        <div id="a333">


        </div>

        <div id="a444">


        </div>



        <br />
        <div id="a555">



        </div>

        <div id="a666">-->
                @*<span asp-validation-for="CourcesStartDate7" class="text-danger"></span>
            <p style="color:red">@ViewBag.ErrorMessage1</p>
            <p style="color:red">@ViewBag.ErrorMessage2</p>*@
                <!--</div>

        <div id="a777">



        </div>
        <br />-->





                <tbody>
                    <tr>
                        <td>1*</td>
                        <td>
                            <div class="form-group">
                                <select asp-for="CourcesId" id="chosen-select16" class="chosen-select  chosen1" asp-items="ViewBag.CourcesId">
                                    <option value="307">تحديد</option>
                                    @*<option value="00">كورس غير مدرج -اخر </option>*@
                                </select>
                                <span asp-validation-for="CourcesId" class="text-danger"></span>
                                <p style="color:red">@ViewBag.ErrorMessage3</p>
                            </div>
                            <div class="form-group response" id="respond-1" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate1" class="form-control" />
                                <span asp-validation-for="CourcesPassRate1" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">


                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate1" class="form-control hijri-date-input" />

                                </div>
                                <span asp-validation-for="CourcesStartDate1" class="text-danger"></span>

                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId01" id="chosen-select161" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId2" id="chosen-select17" class="chosen-select chosen2" asp-items="ViewBag.CourcesId2">
                                    <option value="307">تحديد</option>
                                </select>
                                <span asp-validation-for="CourcesId2" class="text-danger"></span>
                                <p style="color:red">@ViewBag.ErrorMessage3</p>
                            </div>
                            <div class="form-group response" id="respond-2" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate2" class="form-control" />
                                <span asp-validation-for="CourcesPassRate2" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate2" placeholder=" " class="form-control hijri-date-input" />

                                </div>
                                <span asp-validation-for="CourcesStartDate2" class="text-danger"></span>

                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId02" id="chosen-select162" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <div class="form-group">
                                <select asp-for="CourcesId3" id="chosen-select18" class="chosen-select  chosen3" asp-items="ViewBag.CourcesId3">
                                    <option value="307">تحديد</option>
                                </select>
                                <p style="color:red">@ViewBag.ErrorMessage333</p>
                            </div>
                            <div class="form-group response" id="respond-3" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate3" class="form-control" />
                                <span asp-validation-for="CourcesPassRate3" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">


                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate3" placeholder=" " class=" hijri-date-input " />

                                </div>
                                <span asp-validation-for="CourcesStartDate3" class="text-danger"></span>

                            </div>

                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId03" id="chosen-select163" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId4" id="chosen-select19" class="chosen-select chosen4" asp-items="ViewBag.CourcesId4">
                                    <option value="307">تحديد</option>

                                </select>

                                <p style="color:red">@ViewBag.ErrorMessage3333</p>
                            </div>
                            <div class="form-group response" id="respond-4" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate4" class="form-control" />
                                <span asp-validation-for="CourcesPassRate4" class="text-danger"></span>
                            </div>

                        </td>
                        <td>
                            <div class="form-group">


                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate4" placeholder=" " class="form-control hijri-date-input" />

                                </div>
                                <span asp-validation-for="CourcesStartDate4" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId04" id="chosen-select164" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId5" id="chosen-select20" class="chosen-select  chosen5" asp-items="ViewBag.CourcesId5">
                                    <option value="307">تحديد</option>

                                </select>

                                <p style="color:red">@ViewBag.ErrorMessage33333</p>
                            </div>
                            <div class="form-group response" id="respond-5" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate5" class="form-control" />
                                <span asp-validation-for="CourcesPassRate5" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">


                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate5" placeholder=" " class="hijri-date-input " />

                                </div>
                                <span asp-validation-for="CourcesStartDate5" class="text-danger"></span>

                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId05" id="chosen-select165" class="chosen-select chosen1" asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId6" id="chosen-select21" class="chosen-select  chosen6" asp-items="ViewBag.CourcesId6">
                                    <option value="307">تحديد</option>

                                </select>
                                <p style="color:red">@ViewBag.ErrorMessage333333</p>
                            </div>
                            <div class="form-group response" id="respond-6" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate6" class="form-control" />
                                <span asp-validation-for="CourcesPassRate6" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">


                                <div class="input-group" style="float:right">

                                    <input type="text" asp-for="CourcesStartDate6" placeholder=" " class="form-control hijri-date-input" />

                                </div>
                            </div>
                            @*<span asp-validation-for="CourcesStartDate6" class="text-danger"></span>*@
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId06" id="chosen-select166" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            <div class="form-group">
                                <select asp-for="CourcesId7" id="chosen-select22" class="chosen-select  chosen7" asp-items="ViewBag.CourcesId7">
                                    <option value="307">تحديد</option>
                                </select>
                                <p style="color:red">@ViewBag.ErrorMessage3333333</p>
                            </div>
                            <div class="form-group response" id="respond-7" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate7" class="form-control" />
                                <span asp-validation-for="CourcesPassRate7" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate7" placeholder=" " class="form-control hijri-date-input" />

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId07" id="chosen-select167" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>
                            <div class="form-group">
                                <select asp-for="CourcesId8" id="chosen-select23" class="chosen-select  chosen8" asp-items="ViewBag.CourcesId8">
                                    <option value="307">تحديد</option>
                                </select>
                                <span asp-validation-for="CourcesId8" class="text-danger"></span>
                                <p style="color:red">@ViewBag.ErrorMessage33333333</p>
                            </div>
                            <div class="form-group response" id="respond-8" style="display:none;">
                                <label class="control-label">اسم الدورة الجديد   </label>
                                <input asp-for="CourcesPassRate8" class="form-control" />
                                <span asp-validation-for="CourcesPassRate8" class="text-danger"></span>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">

                                <div class="input-group" style="float: right">

                                    <input type="text" asp-for="CourcesStartDate8" placeholder=" " class=" hijri-date-input" />

                                </div>
                                <span asp-validation-for="CourcesStartDate8" class="text-danger"></span>

                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="CourcesId08" id="chosen-select168" class="chosen-select  " asp-items="ViewBag.ACourcesLocation">
                                    <option value="14">تحديد</option>

                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="form-group">
                                <input type="submit" value="حفظ" class="btn btn-success" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <link href="~/datepicker/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
    <link href="~/js/chosen.css" rel="stylesheet" />
    <link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
    <link href="~/js/prism.css" rel="stylesheet" />
    <script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
    <script src="~/js/prism.js"></script>
    <script src="~/datepicker/dist/js/bootstrap-hijri-datetimepicker.js"></script>




    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            try {
                $("input[type='text']").each(function () {
                    $(this).attr("autocomplete", "off");
                });
                $('#timepicker').timepicker();



                /*  $("#a").css('visibility', 'visible');*/
            }
            catch (e) { }
        });

    </script>


    <script type="text/javascript">
        $('#chosen-select16').append(new Option('آخري', 5));
        $('#chosen-select17').append(new Option('آخري', 5));
        $('#chosen-select18').append(new Option('آخري', 5));
        $('#chosen-select19').append(new Option('آخري', 5));
        $('#chosen-select20').append(new Option('آخري', 5));
        $('#chosen-select21').append(new Option('آخري', 5));
        $('#chosen-select22').append(new Option('آخري', 5));
        $('#chosen-select23').append(new Option('آخري', 5));
        /*  $('#chosen-select16').append(new Option('كورس غير مدرج -اخر', 5));*/
        /* $('#chosen-select5').append(new Option('ممتاز +90 جيد جدا+80 جيد +70 مقبول +60', 0));*/
        //$("#a111").css('visibility', 'hidden');
        //$("#a222").css('visibility', 'hidden');
        //$("#a333").css('visibility', 'hidden');
        //$("#a444").css('visibility', 'hidden');
        //$("#a555").css('visibility', 'hidden');
        //$("#a666").css('visibility', 'hidden');
        //$("#a777").css('visibility', 'hidden');
        //$("#a888").css('visibility', 'hidden');

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }//,
            //'.chosen-search': {disable_search: false}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
        //$("select.chosen11").change(function () {

        //    var selectedCountry11 = $(this).children("option:selected").val();
        //    /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
        //    if (selectedCountry11 == 2) {
        //        alert("  يرجي اختيار التقدير  - ");
        //        $("#a").css('visibility', 'visible');
        //        var hiddenBox = $("#respond-2");
        //        hiddenBox.show();



        //    }
        //    else {
        //        $("#a").css('visibility', 'hidden');
        //        var hiddenBox = $("#respond-2");
        //        hiddenBox.hide();

        //    }
        //});

        $("select.chosen1").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-1");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-1");
                hiddenBox.hide();

            }
        });
        $("select.chosen2").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-2");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-2");
                hiddenBox.hide();

            }
        });
        $("select.chosen3").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-3");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-3");
                hiddenBox.hide();

            }
        });
        $("select.chosen4").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-4");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-4");
                hiddenBox.hide();

            }
        });
        $("select.chosen5").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-5");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-5");
                hiddenBox.hide();

            }
        });
        $("select.chosen6").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-6");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-6");
                hiddenBox.hide();

            }
        });
        $("select.chosen7").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-7");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-7");
                hiddenBox.hide();

            }
        });
        $("select.chosen8").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الكورس الجديد باالاسفل - ");

                var hiddenBox = $("#respond-8");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-8");
                hiddenBox.hide();

            }
        });
        //$("select").change(function () {
        //    var selected5 = $(this).children("option:selected").val();
        //    /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
        //    if (selected5 == 0) {
        //        alert("لايتم اختيار هذا العنصر  - ");

        //    }
        //});
    </script>


    <script type="text/javascript">


        $(function () {

            initHijrDatePicker();

            initHijrDatePickerDefault();

            $('.disable-date').hijriDatePicker({

                minDate: "2020-01-01",
                maxDate: "2021-01-01",
                viewMode: "years",
                hijri: true,
                debug: true
            });

        });


        function initHijrDatePicker() {

            $(".hijri-date-input").hijriDatePicker({
                locale: "ar-sa",
                format: "YYYY-MM-DD",
                hijriFormat: "iYYYY-iMM-iDD",
                dayViewHeaderFormat: "MMMM YYYY",
                hijriDayViewHeaderFormat: "iMMMM iYYYY",
                showSwitcher: false,
                allowInputToggle: true,
                showTodayButton: false,
                useCurrent: true,
                isRTL: false,
                viewMode: 'months',
                keepOpen: false,
                hijri: true,
                debug: true,
                showClear: true,
                showTodayButton: true,
                showClose: true
            });
        }

        function initHijrDatePickerDefault() {

            $(".hijri-date-default").hijriDatePicker();
        }

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script>
        try {
            fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
                return true;
            }).catch(function (e) {
                var carbonScript = document.createElement("script");
                carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
                carbonScript.id = "_carbonads_js";
                document.getElementById("carbon-block").appendChild(carbonScript);
            });
        } catch (error) {
            console.log(error);
        }
    </script>
